<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34648232424-rmr89pdkss4bnk4t3gsknm35cia6oj32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34648232424-rmr89pdkss4bnk4t3gsknm35cia6oj32</string>
	<key>API_KEY</key>
	<string>AIzaSyCUkTFRxXvHbqMEFWLZey22VmT4Q88EBTU</string>
	<key>GCM_SENDER_ID</key>
	<string>34648232424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sports</string>
	<key>PROJECT_ID</key>
	<string>hiklik-sports-76bdd</string>
	<key>STORAGE_BUCKET</key>
	<string>hiklik-sports-76bdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34648232424:ios:3dd8c00c1257c04ef9945d</string>
</dict>
</plist>